@import 'mixins.css.scss';

body {
  background-color: #fafafa;
  height: 100%;
}

a, a:visited, a:focus, a:hover {
  color: #333;
  text-decoration: none;
}

.content {
  width: 750px;
  margin: 2em auto;
}

a.button:visited {
  color: #2779AA;
}

#notice {
  padding: 4px 10px;
  background-color: #e2f9e3;
  background-image: none;
  border-color: #99cc99;
}

#navigation {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 2em;
}

#span_notice {
  padding: 0.4em 0.5em;
}

#pie_container {
  @include border-box;
  width: 700px;
  margin: 20px auto;
}

#pie_container h1 {
  text-align: center;
  font-size: 1.3em;
  margin: 10px 0px;
  color: inherit;
}

#pie {
  width: 100%;
  height: 350px;
}

.toolbar {
  @include border-box;
  width: 700px;
  margin: auto;
  padding: 0.4em 1em;
}

/* category form */
#edit_category {
  position: relative;
  margin-bottom: 30px;
  font-size: 1.5em;
}

#edit_category input {
  font-size: 1.0em;
}

#category_name {
  width: 8em;
}

#category_color {
  width: 5em;
}

#colorwheel {
  position: absolute;
  display: none;
}

/* transaction form */
#transaction_date {
  width: 8em;
}

#transaction_category_name {
  width: 30%;
}

#transaction_description {
  width: 60%;
}

#transaction_human_value {
  padding: 1px 3px;
  margin: 1px 5px;
  text-align: right;
  width: 83px;
}

#transaction_amount {
  width: 3em;
}

/* index */
.transactions {
  width: 100%;
}

.main-column {
  min-width: 55%;
}

.category-style, .value-style {
  display: inline-block;
  padding: 1px 3px;
  margin: 1px 5px;
  color: #fff !important;
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}

.value-style {
  min-width: 85px;
  text-align: right;
}

td.buttonset {
  width: 75px !important;
  font-size: 1.3em;
}

.expense {
  background-color: #cc3300;
}

.income {
  background-color: #8ac777;
}

.right {
  text-align: right;
}

/* jquery ui fixes */

.ui-icon {
  display: inline-block;
}

.ui-button {
  @include border-box;
  min-width: 35px;
  font-weight: normal;
}

.ui-button.ui-priority-primary {
  font-weight: 900;
}

.ui-button-text {
  padding: 0px 7px !important;
}

input.ui-button {
  padding: 0px 7px !important;
  line-height: 1.4;
}

/* rails fixes */
div.field_with_errors {
  display: inline;
}

/* blueprint fixes */
tbody tr:nth-child(even) td, tbody tr.even td {background: none;}
