<!DOCTYPE html>
<html>
<head>
  <title>Expenses</title>
  <%= stylesheet_link_tag 'jquery-ui', 'expenses' %>
  <%= javascript_include_tag 'jquery.min', 'jquery-ui.min',
                             'raphael.min', 'colorwheel',
                             'g.raphael.min', 'g.pie',
                             'rails', 'application' %>
  <%= csrf_meta_tag %>
</head>
<body>

  <div class="content">
    <%= yield %>
  </div>

</body>
</html>
